.pagination {
  margin-top: 30px;
}
.page {
  background: #a4a4eb;
  padding: 10px 15px;
  border-radius: 9999px;
}
.page + .page {
  margin-left: 10px;
}
.currentPage,
.page:hover {
  background: #7e7ef0;
}