.btn {
  /* margin-top: 50px; */
  padding: 10px 30px;
  border-radius: 5px;
  background: #09a109;
  color: white;
  border: none;
  font-size: 1em;
}
.btn:hover {
  background: #0cc00c;
  cursor: pointer;
}
.btn:disabled {
  background: #c2c2c2;
  cursor: not-allowed;
}
.btn + .btn {
  margin-left: 10px;
}